/***** General *****/
:root {
  --lightgreen: rgb(206, 200, 166);
  --darkblue: #0d1117;
}

body {
  margin: 0 auto;
  font-size: 14px !important;
}

.bg-darkblue {
  background-color: #0d1117;
}

.bg-lightgreen {
  background-color: rgb(206, 200, 166) !important;
}

.btn {
  border-radius: 4px !important;
}

a svg {
  color: #FFFFFF8C;
  margin: 0 10px;
  font-size: 18px;
}

footer a:hover, a svg:hover {
  color: var(--lightgreen) !important;
  opacity: 0.8 !important;
  transition: ease-in-out 0.3s;
}

footer a {
  color: #FFFFFF8C !important;
  text-decoration: none !important;
}

.btn-lightgreen {
  background: transparent;
  border: 1px solid var(--lightgreen) !important;
  color: rgba(255, 255, 255, 0.75) !important;
}
.btn-lightgreen:hover, .btn-lightgreen:active {
  background-color: var(--lightgreen) !important;
  color: var(--darkblue) !important;
}

/***** Navigation *****/
nav.navbar .social-icons a svg {
  margin: 0 8px;
}

nav.navbar .social-icons {
  margin-right: 8px;
}

.navbar-link:hover {
  color: var(--lightgreen) !important;
  opacity: 0.8;
}

/***** Home *****/
hr {
  width: 64px;
  border-top: 1px solid var(--lightgreen) !important;
  opacity: 0.8 !important;
  margin-top: 60px !important;
}

/***** Heading *****/
.heading {
  display: flex;
  align-items: baseline;
  font-weight: 400 !important;
}

.heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 200px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightgreen);
  opacity: 0.6;
}

/***** Skills *****/
.card-body {
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
  border-radius: 4px;
  border: none;
  min-height: 250px;
}

/***** Projects *****/
.project-links {
  margin: 10px 0;
}

.tech-stack {
  display: flex;
}

.tech-stack > p {
  margin: 0 10px;
  opacity: 0.6;
}

/***** Contact *****/
.contact {
  align-items: center;
}


/***** Media Queries *****/
@media screen and (max-width: 768px) {
  /*** Navigation ***/
  nav.navbar .social-icons a svg{
    display: none;
    visibility: hidden;
  }
}