/***** General *****/
body {
  font-size: 14px !important;
}

.btn {
  border-radius: 4px !important;
}

a svg {
  color: #FFFFFF8C;
  margin: 0 10px;
  font-size: 18px;
}

footer a, a svg:hover {
  color: rgba(255, 255, 255, 0.75) !important;
  transition: ease-in-out 0.3s;
}

footer a {
  color: #FFFFFF8C !important;
  text-decoration: none !important;
}

.btn.btn-light {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

/***** Navigation *****/
nav.navbar .social-icons a svg {
  margin: 0 8px;
}

nav.navbar .social-icons {
  margin-right: 8px;
}

/***** Home *****/
hr {
  width: 64px;
  border-top: 1px solid black;
  opacity: 1 !important;
  margin-top: 60px !important;
}

/***** Heading *****/
.heading {
  display: flex;
  align-items: baseline;
}

.heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 200px;
  height: 1px;
  margin-left: 20px;
  background-color: white;
}

/***** Skills *****/
.card-body {
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
  border-radius: 4px;
  border: none;
  min-height: 250px;
}

/***** Projects *****/
.tech-stack {
  display: flex;
}

.tech-stack > p {
  margin: 10px;
}

/***** Contact *****/
.contact {
  align-items: center;
}


/***** Media Queries *****/
@media screen and (max-width: 768px) {
  /*** Navigation ***/
  nav.navbar .social-icons a svg{
    display: none;
    visibility: hidden;
  }
}